/* Uses a mobile first design */

/* General styling */
a {
  color: inherit;
  text-decoration: none;
}

/* Container styling */
.container {
  display: flex;
  justify-content: center;
}

/* navbar styling */
.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  color: white;
  background-color: #212121;
}

.navbar a {
  float: left;
  display: block;
  text-align: left;
  font-size: 1rem;
  padding: 0.5rem;
}

.navbar > .navlink {
  display: none;
}

#icon {
  float: right;
  display: block;
  margin-right: 1rem;
}

.navbar.responsive {
  position: relative;
}

.navbar.responsive #icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navbar > .links {
  display: none;
}

.navbar.responsive > .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar > a > h1 {
  margin: 0;
}

/* Users Page */
table {
  border-collapse: collapse;
}

td,
th {
  padding: 1rem;
  border: 1px solid black;
}

/* media queries */
/* tablets */
/* computer */
@media (min-width: 992px) {
  #icon {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar.responsive > .links {
    display: flex;
    flex-direction: row;
  }

  .navbar > .links {
    display: flex;
    align-items: center;
  }
}
